---
layout: archive
title: "Publicaciones"
permalink: /es/publications/
lang: es
author_profile: true
---
<p>También podés consultar mis artículos en <a href="{{ site.author.googlescholar }}">Google Scholar</a>. Se conservan los títulos y las referencias bibliográficas originales.</p>
{% for category in site.publication_category %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != category[0] %}{% continue %}{% endif %}
    {% unless title_shown %}
      <h2>{% case category[0] %}{% when 'books' %}Libros y capítulos{% when 'manuscripts' %}Artículos científicos{% when 'conferences' %}Trabajos en congresos{% else %}{{ category[1].title }}{% endcase %}</h2>
      {% assign title_shown = true %}
    {% endunless %}
    <article class="archive__item">
      <h3><a href="{{ post.paperurl | default: post.url }}">{{ post.title }}</a></h3>
      <p>Publicado en <i>{{ post.venue }}</i>, {{ post.date | date: '%Y' }}.</p>
      {% if post.citation %}<p>{{ post.citation }}</p>{% endif %}
      {% if post.paperurl %}<p><a href="{{ post.paperurl }}">Consultar publicación</a></p>{% endif %}
    </article>
  {% endfor %}
{% endfor %}
{% include theses.html %}
