---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p>All talks listed here have a recorded video available.</p>

<h2 id="scientific-talks">Scientific Talks</h2>

{% assign science_talks = site.talks | where: "category", "science" %}
{% for post in science_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2 id="outreach-talks">Outreach Talks</h2>

{% assign outreach_talks = site.talks | where: "category", "outreach" %}
{% for post in outreach_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
